flows (1).json
[{"id":"3a5a4cf7.a63774","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2d5c3802.81a438","type":"mqtt out","z":"3a5a4cf7.a63774","name":"mcs","topic":"mcs/D0OFkSja/pMQXznJBlvbZaHnW/temp","qos":"1","retain":"true","broker":"f990a657.f55348","x":770,"y":480,"wires":[]},{"id":"a3d1680b.e07ee8","type":"inject","z":"3a5a4cf7.a63774","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":440,"wires":[["2d5c3802.81a438"]]},{"id":"3a7b7c63.156274","type":"inject","z":"3a5a4cf7.a63774","name":"","topic":"","payload":",,30.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":500,"wires":[["2d5c3802.81a438"]]},{"id":"f990a657.f55348","type":"mqtt-broker","z":"","name":"MCScloud","broker":"http://mqtt.mcs.mediatek.com/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]